<section class="user-section">
  <h2><%= "Name: #{@user.name}" %> &nbsp; <%= manage_invite_requests(@user) %></h2>
  <article class="timeline">
    <h3>Recent posts:</h3>
    <ul class="posts">
      <%= render @posts %>
    </ul>
  </article>
</section>
