<% @user ||= current_user %>
<h3>Pending invitations to me</h3>
   <br/>
<% @pending_friends.pluck(:name).each do |friend| %>
    <% @user = friend %>
    <span><%= friend %> &nbsp; <button>Accept Invitation</button>  &nbsp; <button>Reject Invitation</button></span>
<% end %>